{% extends 'landing.html'%}
{% block body %}
<div class="col-5">
    <p>Please fill this form... your account is not created until you have entered all your information</p>
    <form class="form-cont" action="/therapist-reg" method="POST">
        <div class="mb-3">
            <label for="linkedin" class="form-label">Add your linkedin link:</label>
            <input type="text" id="linkedin" class="form-control" name="linkedin" required>
        </div>
        <div class="mb-3">
            <label for="cdr" class="form-label">Add your license / board number:</label>
            <input type="text" id="cdr" class="form-control" name="cdr" required>
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Age:</label>
            <input type="number" id="age" class="form-control" name="age" required>
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Gender:</label>
            <select name="gender" id="">
                <option name="gender" id="" value="" disabled selected>Select your gender</option>
                <option name="gender" id="" value="female">Female</option>
                <option name="gender" id="" value="male">Male</option> 
                <option name="gender" id="" value="non_binary">Non Binary</option>
                <option name="gender" id="" value="genderfluid">Genderfluid</option>
                <option name="gender" id="" value="trans_female">Transgender female</option>
                <option name="gender" id="" value="trans_male">Transgender male</option> 
                <option name="gender" id="" value="agender">Agender</option> 
                <option name="gender" id="" value="other">Other</option> 
            </select>
        </div>

        <div class="mb-3">
            <label for="modalidad" class="form-label">Consultation mode:</label>
            <select name="modalidad" id="">
                <option name="modalidad" id="" value="office">In person/Office</option>
                <option name="modalidad" id="" value="office">Remote/Virtual</option>
                <option name="modalidad" id="" value="office">Hybrid (both)</option> 
            </select>
        </div>
        <div class="mb-3">
            <label for="metodo" class="form-label">Add your specialty:</label>
            <input type="text" id="metodo" class="form-control" name="metodo" required>
        </div>
        <div class="mb-3">
            <label for="confirm_password" class="form-label">What subjects do you specialize in (choose five as a maximum):</label>
            <!--Aqui va un for de jinja dando todas las categorias-->
            <select multiple="multiple"  id="my-select" name="category">
                {% for category in all_categories %}
                    <option value="{{category.id}}" id="category"> {{category.name}}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
{% endblock %}

{% extends 'base.html' %}
{% block home %} active {% endblock %}

{% block styles %}
<style>
</style>
{% endblock %}


{% block main %}
                <div class="navbar-nav ms-auto py-0">
                    <a href="index.html" class="nav-item nav-link active">Home</a>
                    <a href="about.html" class="nav-item nav-link">Acerca</a>
                    <a href="blog.html" class="nav-item nav-link">Blog</a>
                    <a href="ini_sesion.html" class="nav-item nav-link">Iniciar sesión</a>
                    <a href="contact.html" class="nav-item nav-link">Contáctanos</a>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->


    <!-- Contact (Register) Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 500px; padding-bottom: 150px;">
                <h1 class="display-4">Crea tu cuenta</h1>
                <p>¿Ya tienes una cuenta?</p><span><a href="ini_sesion.html" class="d-inline-block text-primary text-uppercase border-bottom border-5">Inicia sesión</a></span>
            </div>
            <div class="row justify-content-center position-relative" style="margin-top: -200px; z-index: 1;">
                <div class="col-lg-8">
                <!-- Comment Form Start -->
                    <div class="bg-light rounded p-5 m-5 mb-0">
                        <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-white mb-4">Registro</h4>
                        <form action="/register" method="POST">
                            <div class="row g-3">
                                <div class="col-12">
                                    <input type="text" name="full_name" class="form-control bg-white border-0" placeholder="Nombre completo" style="height: 55px;">
                                </div>
                                <div class="col-12">
                                    <input type="email" name="email" class="form-control bg-white border-0" placeholder="Email" style="height: 55px;">
                                </div>
                                <div class="col-12">
                                    <input type="password" name="password" class="form-control bg-white border-0" placeholder="Contraseña" style="height: 55px;">
                                </div>
                                <div class="col-12">
                                    <input type="password" name="confirm_password" class="form-control bg-white border-0" placeholder=" Confirme la contraseña" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <select class="form-select bg-white border-0" style="height: 55px;" name="account_type" id="account_type">
                                        <option name="type" disabeled>¿Eres psicólogo?</option>
                                        <option name="type" value="0">Si</option>
                                        <option name="type" value="1">No</option>
                                    </select>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Regístrate</button>
                                </div>
                            </div>
                        </form>
                    </div>
                <!-- Comment Form End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Contact (Register) End -->


{% endblock %}