{% extends 'base.html' %}
{% block home %} active {% endblock %}

{% block styles %}
<style>
</style>
{% endblock %}

{% block main %}

    <!-- Contact (Register) Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class=" mb-5" style="max-width: 500px; padding-bottom: 150px;">
                <h1 class="display-4">Añadir Educación</h1>
                {% if therapist.education|length == 0 %}
                <p>Ten en cuenta que esta información es necesaria para acceder a los beneficios de terapeuta</p>
                {%endif%}
            </div>
            <div class="row position-relative" style="margin-top: -200px; z-index: 1;">
                <div class="col-lg-8">
                <!-- Comment Form Start -->
                    <div class="bg-light rounded p-5 m-5 mb-0">
                        <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-white mb-4">Educación</h4>
                        <form action="/education" method="POST">
                            <div class="row g-3">
                                <div class="col-12">
                                    <input type="text" name="school_name" class="form-control bg-white border-0" placeholder="Institucion" style="height: 55px;">
                                </div>
                                <div class="col-12">
                                    <input type="text" name="title_name" class="form-control bg-white border-0" placeholder="Titulo" style="height: 55px;">
                                </div>
                                <div class="col-12">
                                    <input type="text" name="description" class="form-control bg-white border-0" placeholder="Descripción" style="height: 150px;">
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Comment Form End -->
                </div>
                <div class="col-lg-4">
                    <a href="/dashboard" class="btn btn-primary rounded-pill">Regresar más tarde</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact (Register) End -->


{% endblock %}