{% extends 'base.html' %}
{% block home %} active {% endblock %}

{% block styles %}
<style>
</style>
{% endblock %}

{% block main %}


<!-- Appointment (Ver artículos) Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-10 mb-5 mb-lg-0">
                <div class="mb-4">
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Artículos</h5>
                    <h1 class="display-4">Nuevo Artículo</h1>
                </div>
                <div class="col-lg-12">
                    <div class="bg-light text-center rounded p-5">
                        <div class="row g-3">
                            <form method="post" action="/add-article" enctype="multipart/form-data">
                                <div class="col-12 col-sm-12 mb-3">
                                    <div class="h5 text-lg-start">Titulo</div>
                                    <input type="text" name="title" class="form-control bg-white border-0"
                                        placeholder="Título del artículo" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-12 mb-3">
                                    <div class="h5 text-lg-start">Subtitulo o descripción</div>
                                    <textarea name="subtitle" type="text" class="form-control bg-white border-0"
                                        rows="5" placeholder="Escribe una pequeña descripción o subítulo"></textarea>
                                </div>
                                <div class="col-12 col-sm-12 mb-3">
                                    <div class="h5 text-lg-start">Cuerpo</div>
                                    <textarea name="body" type="text" class="form-control bg-white border-0" rows="30"
                                        placeholder="Cuerpo"></textarea>
                                </div>
                                <div class="col-12 col-sm-12 mb-3">
                                    <div class="h5 text-lg-start">Bibliografía</div>
                                    <textarea type="text" name="bibliography" class="form-control bg-white border-0"
                                        placeholder="Referencias/Links" rows="10"></textarea>
                                </div>
                                <!-- <div class="col-12 mb-3">
                                    <label for="category" class="form-label">What subjects do you specialize in (choose five
                                        as a maximum):</label>
                                    <select name="category" id="category" style="height: 20rem;" multiple>
                                        {% for category in all_categories %}
                                        <option name="category" value="{{category.id}}">{{category.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div> -->
                                <div class="mx-auto" style="width: 100%; max-width: 600px;">
                                    <div class="col-12 col-sm-12">
                                        <input type="file" name="file" class="form-control bg-white border-0"
                                            placeholder="Sube una imagen" style="height: 55px;" required>
                                        <!-- <input class="btn btn-dark border-0 w-25 mt-1 mb-4" type="submit" value="Cargar"> -->
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Publicar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- <p class="mb-5">Eirmod sed tempor lorem ut dolores. Aliquyam sit sadipscing kasd ipsum. Dolor ea et dolore et at sea ea at dolor, justo ipsum duo rebum sea invidunt voluptua. Eos vero eos vero ea et dolore eirmod et. Dolores diam duo invidunt lorem. Elitr ut dolores magna sit. Sea dolore sanctus sed et. Takimata takimata sanctus sed.</p>
                    <a class="btn btn-primary rounded-pill py-3 px-5 me-3" href="">Guardar</a>
                    <a class="btn btn-outline-primary rounded-pill py-3 px-5" href="">tal vez después</a> -->
            </div>
        </div>
    </div>
    <!-- Appointment End -->


    {% endblock %}