{% extends 'base.html' %}
{% block home %} active {% endblock %}

{% block styles %}
<style>
</style>
{% endblock %}


{% block main %}

<!-- Appointment Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-10 mb-5 mb-lg-0">
                <div class="mb-4">
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Publicaciones</h5>
                    <h1 class="display-4">Cargar publicación</h1>
                </div>
                <!--Convertir en form-->
                <div class="col-lg-12">
                    <div class="bg-light text-center rounded p-5">
                        <div class="row g-3">
                            <form method="post" action="/add-publication" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="col-12 col-sm-12 mb-3">
                                            <input required type="text" name="title" class="form-control bg-white border-0" placeholder="Título de la publicación" style="height: 55px;">
                                        </div>
                                        <div class="col-12 col-sm-12 mb-3">
                                            <input required type="text" name="description" class="form-control bg-white border-0" placeholder="¿Dónde fue publicado?" style="height: 55px;">
                                        </div>
                                        <div class="col-12 col-sm-12 mb-3">
                                            <input name="publication_link" class="form-control bg-white border-0" placeholder="Link de la publicación">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="h5 text-start">Subir archivo PDF</div>
                                        <div class="mx-auto" style="width: 100%; max-width: 600px;">
                                            <div class="col-12 col-sm-12">
                                                <input type="file" name="file" class="form-control bg-white border-0" placeholder="Sube una imagen" style="height: 55px;" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- <p class="mb-5">Eirmod sed tempor lorem ut dolores. Aliquyam sit sadipscing kasd ipsum. Dolor ea et dolore et at sea ea at dolor, justo ipsum duo rebum sea invidunt voluptua. Eos vero eos vero ea et dolore eirmod et. Dolores diam duo invidunt lorem. Elitr ut dolores magna sit. Sea dolore sanctus sed et. Takimata takimata sanctus sed.</p>
                    <a class="btn btn-primary rounded-pill py-3 px-5 me-3" href="">Guardar</a>
                    <a class="btn btn-outline-primary rounded-pill py-3 px-5" href="">tal vez después</a> -->
            </div>
        </div>
    </div>
</div>
<!-- Appointment End -->

{% endblock %}