{% extends 'base.html' %}
{% block home %} active {% endblock %}

{% block styles %}
<style>
</style>
{% endblock %}


{% block main %}
                


    <!-- Contact (Register) Start -->
    <div class="container-fluid px-5 pt-5">
        <div class="col-lg-8 m-auto">
            <div class="container bg-light p-5">
                <div class="article-info px-5">
                    <div class="d-flex align-items-center mb-3" style="height: 3rem;">
                        <div class="col-1">
                            <img class="rounded-circle me-2" src="{{ url_for('static', filename='img/therapist/user1.jpg')}}" width="40" height="40" alt="">
                        </div>
                        <div class="col-10">
                            <div class="article-info">
                                <a href="/tprofile/{{author.id}}" class="text-primary  h4 m-0" style="height: 2rem; display: block;"> {{author.name}}</p></a>
                                <p class="text-dark m-0">Especialista {{author.metodo}}</p>
                                <p class="date text-dark m-0">Lunes 29 de Abril 2022</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="px-5 pt-5 title h2">{{article.title}}</div>
                <div class="px-5 subtitle h3 school_name">{{article.subtitle}}</div>
                <div class="img-container" style="margin: auto; width: 50%;">
                    <img class="img-fluid" src="{{ url_for('static', filename=article.file_path)}}" style="width: 500px; height: 100%; object-fit: cover;" alt="">            
                </div>
                <div class="p-5 body text-dark">{{article.body | safe}}</div>
            </div>
        </div>
    </div>
    <!-- Contact (Register) End -->

    

{% endblock %}
