{% extends 'base.html' %}
{% block home %} active {% endblock %}

{% block styles %}
<link type="text/css" href="{{ url_for('static', filename='css/dropdown_ms.css')}}" rel="stylesheet">
{% endblock %}
{% block main %}



<!-- Blog Start -->
<div class="container py-5">
    <div class="row g-5">
        <div class="col-lg-8">
            <!-- Blog Detail Start -->
            <div class="mb-5">
                {%if user != None%}
                <h1 class="mb-4">Bienvenido, {{user.name}}</h1>
                {%endif%}
                <div class="mb-5">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 mb-4">Lee los
                                últimos artículos</h4>
                        </div>
                        <!-- <div class="col-12 col-md-6">
                            <form action="/search-article" method="post">
                                <div class="row">
                                    <div class="col-6">
                                        <select name="category" id="category" class="form-select bg-light m-0 border-0">
                                            {%for category in categories%}
                                            <option name="category" value="{{category.id}}">{{category.name}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <button type="submit" class="btn btn-primary round-pill">Search</button>
                                    </div>
                                    <p class="">Busca por tema</p>
                                </div>
                            </form>
                        </div> -->
                    </div>
                    <!--EMPIEZA FOR PARA OTHER ARTICLES-->
                    {%for article in all_articles%}
                    <div class="d-flex rounded overflow-hidden mb-3 w-80">
                        <div class="article-img-div">
                            <img class="img-fluid" src="{{ url_for('static', filename=article.file_path)}}"
                                style="width: 20rem; height: 100%; object-fit: cover;" alt="">
                        </div>
                        <div class="article-text-div bg-light px-3 mb-0 w-100">
                            <div class="row p-3 pb-0">
                                <div class="col-10">
                                    <!--AGREGAR LINKS!-->
                                    <a href="/article/{{article.id}}" class="h3">{{article.title}}</a>
                                </div>
                            </div>
                            <p class="h5 school_name px-3">{{article.subtitle}}</p>
                            <div class="article-author bg-white  m-3 p-1 rounded row">
                                <div class="col-1">
                                    <a href="/tprofile/{{article.therapist.id}}" class="nav-item nav-link"><ion-icon
                                            class="edit-icon-profile" name="person-circle-outline"></ion-icon></a>
                                </div>
                                <div class="col-10 mx-1">
                                    <div class="h6 m-0">{{article.therapist.name}}</div>
                                    <div class="h6 school_name m-0">Especalista en {{article.therapist.metodo}}</div>
                                </div>
                            </div>
                            <p class="date text-end px-5">{{article.date}}</p>
                        </div>
                    </div>
                    {%endfor%}
                    <!--FIN DEL FOR-->
                </div>
                <div>
                </div>
            </div>

        </div>

        <!-- Sidebar Start -->
        <div class="col-lg-4">
            <!-- Plain Text Start -->
            <div style="margin-bottom: 50px;">
                <div class="row">
                    <div class="col-8">
                        <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 mb-4">Encuentra psicólogos en tu distrito</h4>
                    </div>
                    <div class="col-4">
                        <a href="/change-city" class="btn btn-light">Cambiar ciudad</a>
                    </div>
                        
                </div>
                <div class="bg-light rounded text-center" style="padding: 30px;">
                    <form action="/search-district" method="POST">
                        <div class="bg-light rounded text-center" style="padding: 30px;">
                            <div class="col-12 col-sm-12">
                                <select name='location_id' class="form-select bg-white border-0" style="height: 55px;">
                                    <option selected disabled>Distrito/Barrio</option>
                                    {%for location in locations%}
                                    <option name='location_id' value="{{location.id}}">{{location.district}}</option>
                                    {%endfor%}
                                </select>
                            </div>
                        <button type="submit" class="btn btn-primary m-5">Agregar distrito</button>
                    </form>
                    <br>
                </div>
            </div>
            <!-- Plain Text End -->
            <!-- Category Start -->
            <div class="col-12 mb-3">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 mb-4">Busca psicologos por especialidad</h4>
                <div class="bg-light rounded text-center p-3">
                    <form action="/search-cat" method="POST">
                        <div class="bg-light rounded text-center" style="padding: 30px;">
                            <div class="col-12 col-sm-12">
                                <select name='category_id' class="form-select bg-white border-0" style="height: 55px;">
                                    <option selected disabled>Selecciona una categoria</option>
                                    {%for category in categories%}
                                    <option name='category_id' value="{{category.id}}">{{category.name}}</option>
                                    {%endfor%}
                                </select>
                            </div>
                        <button type="submit" class="btn btn-primary m-5">Agregar distrito</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>



{% endblock %}


{%block javascript%}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
    integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
    integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
    crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/my_select.js') }}"></script>
{% endblock %}