{% extends 'base.html' %}
{% block home %} active {% endblock %}

{% block styles %}
<link type="text/css" href="{{ url_for('static', filename='css/dropdown_ms.css')}}" rel="stylesheet">
{% endblock %}


{% block main %}
                <div class="navbar-nav ms-auto py-0">
                    <a href="index.html" class="nav-item nav-link active">Home</a>
                    <a href="about.html" class="nav-item nav-link">Acerca</a>
                    <a href="blog.html" class="nav-item nav-link">Blog</a>
                    {%if logged%}
                    <a href="/logout" class="nav-item nav-link btn btn-primary">Cerrar sesion</a>
                    {%else%}
                    <a href="/login" class="nav-item nav-link btn btn-primary">Iniciar sesion</a>
                    {%endif%}
                    <a href="contact.html" class="nav-item nav-link">Contáctanos</a>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->


    <!-- Blog Start -->
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-8">
                <!-- Blog Detail Start -->
                <div class="mb-5">
                    <h1 class="mb-4">Bienvenido, (Nombre)</h1>
                    <!-- <p>Sadipscing labore amet rebum est et justo gubergren. Et eirmod ipsum sit diam ut
                        magna lorem. Nonumy vero labore lorem sanctus rebum et lorem magna kasd, stet
                        amet magna accusam consetetur eirmod. Kasd accusam sit ipsum sadipscing et at at
                        sanctus et. Ipsum sit gubergren dolores et, consetetur justo invidunt at et
                        aliquyam ut et vero clita. Diam sea sea no sed dolores diam nonumy, gubergren
                        sit stet no diam kasd vero.</p>
                    <p>Voluptua est takimata stet invidunt sed rebum nonumy stet, clita aliquyam dolores
                        vero stet consetetur elitr takimata rebum sanctus. Sit sed accusam stet sit
                        nonumy kasd diam dolores, sanctus lorem kasd duo dolor dolor vero sit et. Labore
                        ipsum duo sanctus amet eos et. Consetetur no sed et aliquyam ipsum justo et,
                        clita lorem sit vero amet amet est dolor elitr, stet et no diam sit. Dolor erat
                        justo dolore sit invidunt.</p>
                    <p>Diam dolor est labore duo invidunt ipsum clita et, sed et lorem voluptua tempor
                        invidunt at est sanctus sanctus. Clita dolores sit kasd diam takimata justo diam
                        lorem sed. Magna amet sed rebum eos. Clita no magna no dolor erat diam tempor
                        rebum consetetur, sanctus labore sed nonumy diam lorem amet eirmod. No at tempor
                        sea diam kasd, takimata ea nonumy elitr sadipscing gubergren erat. Gubergren at
                        lorem invidunt sadipscing rebum sit amet ut ut, voluptua diam dolores at
                        sadipscing stet. Clita dolor amet dolor ipsum vero ea ea eos.</p> -->
                <!-- Recent Post Start -->
                    <div class="mb-5">
                        <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 mb-4">Lee los últimos artículos</h4>
                        <div class="d-flex rounded overflow-hidden mb-3">
                            <img class="img-fluid" src="img/blog-1.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                            <a href="" class="h5 d-flex align-items-center bg-light px-3 mb-0">Lorem ipsum dolor sit amet consec adipis elit
                            </a>
                        </div>
                        <div class="d-flex rounded overflow-hidden mb-3">
                            <img class="img-fluid" src="img/blog-2.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                            <a href="" class="h5 d-flex align-items-center bg-light px-3 mb-0">Lorem ipsum dolor sit amet consec adipis elit
                            </a>
                        </div>
                        <div class="d-flex rounded overflow-hidden mb-3">
                            <img class="img-fluid" src="img/blog-3.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                            <a href="" class="h5 d-flex align-items-center bg-light px-3 mb-0">Lorem ipsum dolor sit amet consec adipis elit
                            </a>
                        </div>
                        <div class="d-flex rounded overflow-hidden mb-3">
                            <img class="img-fluid" src="img/blog-1.jpg" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                            <a href="" class="h5 d-flex align-items-center bg-light px-3 mb-0">Lorem ipsum dolor sit amet consec adipis elit
                            </a>
                        </div>
                    </div>
                <!-- Recent Post End -->
                    <div>
                        <!-- <div class="d-flex align-items-center">
                            <img class="rounded-circle me-2" src="img/user.jpg" width="40" height="40" alt="">
                            <span>John Doe</span>
                        </div> -->
                        <!-- <div class="d-flex align-items-center">
                            <span class="ms-3"><i class="far fa-eye text-primary me-1"></i>12345</span>
                            <span class="ms-3"><i class="far fa-comment text-primary me-1"></i>123</span>
                        </div> -->
                    </div>
                </div>
                <!-- Blog Detail End -->


                <!-- Comment Form Start -->
                <!-- <div class="bg-light rounded p-5">
                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-white mb-4">Leave a comment</h4>
                    <form>
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control bg-white border-0" placeholder="Your Name" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="email" class="form-control bg-white border-0" placeholder="Your Email" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control bg-white border-0" placeholder="Website" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <textarea class="form-control bg-white border-0" rows="5" placeholder="Comment"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Leave Your Comment</button>
                            </div>
                        </div>
                    </form>
                </div> -->
                <!-- Comment Form End -->
            </div>

            <!-- Sidebar Start -->
            <div class="col-lg-4">
                <!-- Plain Text Start -->
                <div style="margin-bottom: 50px;">
                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 mb-4">Encuentra psicólogos cerca</h4>
                    <div class="bg-light rounded text-center" style="padding: 30px;">
                        <div class="col-12 col-sm-12">
                            <select class="form-select bg-white border-0" style="height: 55px;">
                                <option selected>Ciudad</option>
                                <option value="1">Arequipa</option>
                                <option value="2">Bogotá</option>
                                <option value="3">Lima</option>
                                <option value="4">Medellín</option>
                            </select>
                        </div>
                        <br>
                        <div class="col-12 col-sm-12">
                            <select class="form-select bg-white border-0" style="height: 55px;">
                                <option selected>Distrito/Barrio</option>
                                <option value="1">El Poblado</option>
                                <option value="2">Belén</option>
                                <option value="3">Laureles 3</option>
                            </select>
                        </div>
                        <br>
                        <a href="" class="btn btn-primary py-2 px-4">Buscar</a>
                    </div>
                </div>
                <!-- Plain Text End -->
                <!-- Category Start -->
                <div class="col-12 mb-3">
                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 mb-4">Busca psicologos por especialidad</h4>
                    <div class="bg-light rounded text-center p-3" >
                        <form action="/search-by-cat" methods="'POST">
                            <div class="dropdown" id="my-select">
                                <button class="dropbtn">Escoger 3 como maximo</button>
                                <div class="dropdown-content">
                                    {% for category in all_categories %}
                                    <label for="category"  class="cat-label">
                                    <input type="checkbox" value="{{category.id}}" class="category" id="{{category.id}}"> <p class="cat-name mx-2" id="cat-name{{category.id}}" >{{category.name}}</p>
                                    </label>
                                    {% endfor %}
                                </div>
                                <button type="submit" class="btn btn-primary w-100 m-2">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Category End -->
                <!-- Search Form Start -->
                <!-- <div class="mb-5">
                    <div class="input-group">
                        <input type="text" class="form-control p-3" placeholder="Keyword">
                        <button class="btn btn-primary px-3"><i class="fa fa-search"></i></button>
                    </div>
                </div> -->
                <!-- Search Form End -->



                <!-- Image Start -->
                <!-- <div class="mb-5">
                    <img src="img/blog-1.jpg" alt="" class="img-fluid rounded"> -->
                </div>
                <!-- Image End -->

                <!-- Tags Start -->
                <!-- <div class="mb-5">
                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 mb-4">Tag Cloud</h4>
                    <div class="d-flex flex-wrap m-n1">
                        <a href="" class="btn btn-primary m-1">Design</a>
                        <a href="" class="btn btn-primary m-1">Development</a>
                        <a href="" class="btn btn-primary m-1">Marketing</a>
                        <a href="" class="btn btn-primary m-1">SEO</a>
                        <a href="" class="btn btn-primary m-1">Writing</a>
                        <a href="" class="btn btn-primary m-1">Consulting</a>
                        <a href="" class="btn btn-primary m-1">Design</a>
                        <a href="" class="btn btn-primary m-1">Development</a>
                        <a href="" class="btn btn-primary m-1">Marketing</a>
                        <a href="" class="btn btn-primary m-1">SEO</a>
                        <a href="" class="btn btn-primary m-1">Writing</a>
                        <a href="" class="btn btn-primary m-1">Consulting</a>
                    </div>
                </div> -->
                <!-- Tags End -->

            </div>
            <!-- Sidebar End -->
        </div>
    </div>
    <!-- Blog End -->


{% endblock %}


{%block javascript%}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/my_select.js') }}"></script>
{% endblock %}