{% extends 'base.html' %}
{% block home %} active {% endblock %}

{% block styles %}
<style>
</style>
{% endblock %}


{% block main %}

<!-- Edit article Start -->
<form action="/edit-art/{{article.id}}/editado" method="post">
    <div class="container-fluid px-5 pt-5 w-100">
        <div class="col-lg-8 m-auto">
            <div class="container bg-light p-5">
                <div class="article-info px-5">
                    <a href="/tprofile/{{article.creator.id}}" class="text-primary  h4"> {{article.creator.name}}</p></a>
                    <p class="date text-primary">Lunes 29 de Abril 2022</p>
                </div>
                <hr>
                <input class="px-5 pt-5 title h2 width-100% w-100" type="text" name="title" value="{{article.title}}">
                <input class="px-5 subtitle h3 school_name w-100" type="text" name="subtitle" value="{{article.subtitle}}">
                <div class="img-container mb-4 mt-4" style="margin: auto; width: 50%;">
                    <img class="img-fluid" src="{{ url_for('static', filename=article.file_path)}}" style="width: 500px; height: 100%; object-fit: cover;" alt="">            
                </div>
                <textarea class="p-5 body text-dark w-100 h-100" type="text" name="body"  cols="30" rows="10" value="{{article.body | safe}}"></textarea> 
                <div class="col-6 mt-5">
                    <button class="btn btn-primary w-25 py-3" type="submit">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Edit article End -->

{% endblock %}