{% extends 'base.html' %}
{% block home %} active {% endblock %}

{% block styles %}
<style>
</style>
{% endblock %}


{% block main %}

    <!-- Appointment Start -->
    <div class="container m-auto mt-5">
        <div class="mb-5">
            <div class="h2">Edita tu Perfil</div>
            <div class="col-lg-12">

                <form action="/therapist_edited" method="post" enctype="multipart/form-data">
                <div class="bg-light rounded p-5">
                    <div class="row">
                        <div class="col-6">
                            <input class="h2" name="name" value="{{therapist.name}}"></input>
                        </div>
                        <div class="col-6">
                            <div class="h5">Cambiar foto de perfil</div>
                            <div class="mx-auto" style="width: 100%; max-width: 600px;">
                                <div class="col-12 col-sm-12">
                                    <input type="file" name="file" class="form-control bg-white border-0"
                                        placeholder="Sube una imagen" style="height: 55px;" required>
                                    <!-- <input class="btn btn-dark border-0 w-25 mt-1 mb-4" type="submit" value="Cargar"> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p class="h5 d-flex align-items-center bg-light  mb-2 especialista">Especialista en</p>
                        <input name="metodo" type="text" class="h5 mx-2" value="{{therapist.metodo}}">
                    </div>
                    <div>
                        <p class="d-flex align-items-center bg-light mb-3 text-black">Descripción:</p>
                        <textarea class="col-12 mb-3" type="text" name="description" cols="50" rows="3" class="text-black" value="{{therapist.description}}">{{therapist.description}}</textarea>
                        <div class="row therapist-stats">
                            <p class="col-md-2"> Edad: <br> <input class="h6" name="age" value="{{therapist.age}}"></input> </p>
                            <p class="col-md-2"> CDR: <br> <input class="h6" name="cdr" value="{{therapist.cdr}}"></input> </p>
                            <p class="col-md-2"> Género: <br><select name="gender" id="gender" class="form-control bg-white border-0"
                                placeholder="Género" style="height: 55px;" required>
                                <option name="gender" id="" value="" disabled selected>Selecciona tu género</option>
                                <option name="gender" id="" value="female">Mujer</option>
                                <option name="gender" id="" value="male">Hombre</option>
                                <option name="gender" id="" value="non_binary">No binario</option>
                                <option name="gender" id="" value="genderfluid">Genderfluid</option>
                                <option name="gender" id="" value="trans_female">Mujer Transgénero</option>
                                <option name="gender" id="" value="trans_male">Hombre Transgénero</option>
                                <option name="gender" id="" value="agender">Agender</option>
                                <option name="gender" id="" value="other">Otro</option>
                            </select></p>
                            <p class="col-md-2"> Modalidad:<select name="modalidad" id="modalidad" class="form-control bg-white border-0"
                                placeholder="Modalidad de consulta" style="height: 55px;" required>
                                <option name="modalidad" id="" value="" disabled selected>Selecciona la modalidad de tu consulta</option>
                                <option name="modalidad" id="" value="office">In person/Office</option>
                                <option name="modalidad" id="" value="remote">Remote/Virtual</option>
                                <option name="modalidad" id="" value="hybrid">Hybrid (both)</option>
                            </select></p>
                        </div>
                        <button type="submit" class="btn btn-primary"> Guardar cambios de perfil</button>
                    </form>
                        <p class="mt-5">Temas:</p>
                        <div class="topics">
                            {%for category in therapist.categories%}
                            <p class="profile-category">{{category.name}} <a class="h5" href="/delete/{{category.id}}" style="font-size:0.7rem; color:rgb(6, 64, 117)">X</a></p>
                            {%endfor%}
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <!-- Appointment End -->

    
{% endblock %}