{% extends 'base.html' %}
{% block home %} active {% endblock %}

{% block styles %}
<style>
</style>
{% endblock %}


{% block main %}

    <!-- Appointment Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="mb-4">
                        <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Pefil</h5>
                        <h1 class="display-4">Edita tu perfil</h1>
                    </div>
                <div class="col-lg-12   ">
                    <div class="bg-light text-center rounded p-5">
                        <form action="edit_therapist"  method="post">
                            <div class="row g-3">
                    
                                <!-- <div class="col-12 col-sm-6">
                                    <input type="text" name="therapist_pic" class="form-control bg-white border-0" placeholder="Sube una foto" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="email" class="form-control bg-white border-0" placeholder="Adjuntar" style="height: 55px;"> -->
                                </div>

                                <div class="col-12 col-sm-12">
                                    <input type="text" name="method" class="form-control bg-white border-0" placeholder="Método" style="height: 55px;" required>
                                </div>
                                <div class="col-12 col-sm-12">
                                    <textarea name="description" class="form-control bg-white border-0" cols="30" rows="5" style="height: 55px;" placeholder="Descripción" required></textarea>
                                </div>
                                <div class="col-12 col-sm-12">
                                    <input type="text" name="linkedin" class="form-control bg-white border-0" placeholder="Linkedin" style="height: 55px;">
                                </div>
                                <div class="row g-3">
                                    <label for="">¿Dónde estás ubicado?</label>
                                    <div class="col-12 col-sm-6">
                                        <select class="form-select bg-white border-0" style="height: 55px;" required>
                                            <option selected>Ciudad</option>
                                            <option value="1">Arequipa</option>
                                            <option value="2">Bogotá</option>
                                            <option value="3">Lima</option>
                                            <option value="4">Medellín</option>
                                        </select>
                                    </div>
                                    <div class="col-12 col-sm-6"> <!--  Este debe activarse de acuerdo con la opción anterior -->
                                        <select class="form-select bg-white border-0" style="height: 55px;" required>
                                            <option selected>Distrito/Barrio</option>
                                            <option value="1">El Poblado</option>
                                            <option value="2">Belén</option>
                                            <option value="3">Laureles 3</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- ESTE BOTÓN ES EL QUE UTILIZO PARA TODOS LOS UPLOADS -->
                                <div style="text-align: start;">
                                    <a href="/edit_pic" class="btn btn-outline-primary rounded-pill py-2 px-4" style="margin-top: 20px; margin-bottom: 20px; " href="">Cargar foto</a>     
                                </div>
                                <!-- HASTA ACÁ VA EL BOTÓN QUE UTILIZO PARA TODOS LOS UPLOADS -->
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                    <!-- <p class="mb-5">Eirmod sed tempor lorem ut dolores. Aliquyam sit sadipscing kasd ipsum. Dolor ea et dolore et at sea ea at dolor, justo ipsum duo rebum sea invidunt voluptua. Eos vero eos vero ea et dolore eirmod et. Dolores diam duo invidunt lorem. Elitr ut dolores magna sit. Sea dolore sanctus sed et. Takimata takimata sanctus sed.</p>
                    <a class="btn btn-primary rounded-pill py-3 px-5 me-3" href="">Guardar</a>
                    <a class="btn btn-outline-primary rounded-pill py-3 px-5" href="">tal vez después</a> -->
                </div>
                <div class="col-lg-6">
                    <div class="bg-light text-center rounded p-5">
                        <h1 class="mb-4">Hola, (nombre)</h1>
                        <div class="col-12 col-sm-6">
                            <img src="" alt="">
                        </div>
                        <div>
                            Especialista en (método)
                        </div>
                        <div>
                            Descripición
                        </div>
                        <div>
                            Educación
                        </div>
                    </div>
                    <br>
                    <div class="col-lg-12">
                        <div class="bg-light text-center rounded p-5">
                            
                            <form>
                                <h1 class="display-6">Educación</h1>
                                <div class="row g-3">
                                    
                                    <div class="col-12 col-sm-12">
                                        <input type="text" name="therapist_pic" class="form-control bg-white border-0" placeholder="Institución" style="height: 55px;">
                                    </div>
                                    <div class="col-12 col-sm-12">
                                        <input type="text" class="form-control bg-white border-0" placeholder="Título" style="height: 55px;">
                                    </div>
                                    <div class="col-6">
                                        <button class="btn btn-primary w-100 py-3" type="submit">Guardar</button>
                                    </div>
                                    <div class="col-6">
                                        <button class="btn btn-outline-primary rounded-pill py-3 px-5" type="submit">Agregar estudio</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Appointment End -->

    
{% endblock %}