{% extends 'base.html' %}
{% block home %} active {% endblock %}

{% block styles %}
<style>
</style>
{% endblock %}


{% block main %}

    <!-- Appointment Start -->
    <div class="container m-auto mt-5">
        <div class="mb-5">
            <div class="h2">Edita tu Perfil</div>
            <div class="col-lg-12">

                <form action="therapist_edited" method="post" enctype="multipart/form-data">
                <div class="bg-light rounded p-5">
                    <div class="row">
                        <div class="col-6">
                            <input class="h2" name="name" value="{{therapist.name}}"></input>
                        </div>
                        <div class="col-6">
                            <div class="h5">Cambiar foto de perfil</div>
                            <div class="mx-auto" style="width: 100%; max-width: 600px;">
                                <div class="col-12 col-sm-12">
                                    <input type="file" name="file" class="form-control bg-white border-0"
                                        placeholder="Sube una imagen" style="height: 55px;" required>
                                    <!-- <input class="btn btn-dark border-0 w-25 mt-1 mb-4" type="submit" value="Cargar"> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p class="h5 d-flex align-items-center bg-light  mb-2 especialista">Especialista en</p>
                        <input name="metodo" type="text" class="h5 mx-2" value="{{therapist.metodo}}">
                    </div>
                    <div>
                        <p class="d-flex align-items-center bg-light mb-3 text-black">Descripción:</p>
                        <textarea class="col-12 mb-3" type="text" name="description" cols="50" rows="3" class="text-black" value="{{therapist.description}}">{{therapist.description}}</textarea>
                        <div class="row therapist-stats">
                            <p class="col-md-2"> Edad: <br> <input class="h6" name="age" value="{{therapist.age}}"></input> </p>
                            <p class="col-md-2"> CDR: <br> <input class="h6" name="cdr" value="{{therapist.cdr}}"></input> </p>
                            <p class="col-md-2"> Género: <br><input class="h6" name="gender" value="{{therapist.gender}}"></input> </p>
                            <p class="col-md-2"> Modalidad:<input class="h6" name="modalidad" value="{{therapist.modalidad}}"></input> </p>
                        </div>
                        <button type="submit" class="btn btn-primary"> Guardar cambios de perfil</button>
                    </form>
                        <p class="mt-5">Temas:</p>
                        <div class="topics">
                            {%for category in therapist.categories%}
                            <p class="profile-category">{{category.name}} <a class="h5" href="/delete/{{category.id}}" style="font-size:0.7rem; color:rgb(6, 64, 117)">X</a></p>
                            {%endfor%}
                        </div>
                    </div>
                    <!-- <div class="education-section mt-4">
                        <div class="row">
                            <div class="col-md-7">
                                <p class="h5 d-flex align-items-center text-primary text-uppercase mb-2 ">Educación
                                </p>
                            </div>
                            <div class="col-md-5">
                                {%if user_id == therapist.id%}
                                <a href="/add-education" class="btn btn-primary rounded-pill mx-1">+ Agregar más</a>
                                <a href="/edit-education" class="btn btn-light rounded-pill mx-1">Editar</a>
                                {%endif%}
                            </div>
                        </div>
                        {%for education in therapist.education%}
                        <div class="mt-3 education-div">
                            <p class="h6 school_title">{{education.title_name}} | <span class="school_name">
                                    {{education.school_name}}</span> </p>
                            <p class="h6 date">2022 - 2023</p>
                            <p class="h6 ed_description">{{education.description}}</p>
                        </div>
                        {%endfor%}
                    </div> -->
                </div> 
            </div>
        </div>
    </div>
    <!-- Appointment End -->

    
{% endblock %}