{% extends 'base.html' %}
{% block home %} active {% endblock %}

{% block styles %} 
<style>
</style>
{% endblock %}

{% block main %}
<!-- Navbar End -->

    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-8 text-center text-lg-start">
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5" style="border-color: rgba(256, 256, 256, .3) !important;">Bienvenido</h5>
                    <h1 class="display-1 text-white mb-md-4">Psicoapp</h1>
                        <h5 class="text-white mb-md-2">Conoce a tu psicólogo</h5>
                        <h5 class="text-white mb-md-2">Accede a cientos de artículos y publicaciones</h5>
                        <h5 class="text-white mb-md-2">Busca en base a tus necesidades</h5>
                        <h5 class="text-white mb-md-4">Maneja tus citas</h5>
                    <div class="pt-2">
                        <a id="scroll-button" class="btn btn-light rounded-pill py-md-3 px-md-5 mx-2">REGISTRARSE</a>
                        <a id="section-to-scroll-to" href="/login" class="btn btn-outline-light rounded-pill py-md-3 px-md-5 mx-2">INICIAR SESIÓN</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- Appointment Start -->
    <div class="container-fluid bg-primary my-5 py-5">
        <div class="container py-5">
            <div class="row gx-5">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="mb-4">
                        <h5 class="d-inline-block text-white text-uppercase border-bottom border-5">Regístrate</h5>
                        <h1 class="display-4">Accede a todos nuestros servicios</h1>
                    </div>
                    <p class="text-white mb-5">Puedes encontrar al psicólogo de tu preferencia, ver artículos y publicaciones por temas de interés, contactar a un profesional y mucho más!</p>
                    <a class="btn btn-outline-dark rounded-pill py-3 px-5" href="/dashboard">Conoce nuestra pagina</a>
                    <p></p>
                </div>
                <div class="col-lg-6 " >
                    <div class="bg-white text-center rounded p-5">
                        <h1 class="mb-4">Registrarse</h1>
                            <p>¿Ya tienes una cuenta?</p><span><a href="log_in.html">Inicia sesión</a></span>
                        <form action="/register" method="POST">
                            <div class="row g-3">
                                <div class="col-12 col-sm-12">
                                    <input type="text" name="full_name" class="form-control bg-light border-0" placeholder="Nombre completo" style="height: 55px;" required>
                                </div>
                                <div class="col-12 col-sm-12">
                                    <input type="email" name="email" class="form-control bg-light border-0" placeholder="Email" style="height: 55px;" required>
                                </div>
                                <div class="col-12">
                                    <input type="password" name="password" class="form-control bg-light border-0" placeholder="Contraseña" style="height: 55px;" required>
                                </div>
                                <div class="col-12">
                                    <input type="password" name="confirm_password" class="form-control bg-light border-0" placeholder="Confirme la contraseña" style="height: 55px;" required>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <select class="form-control bg-light border-0"  style="height: 55px;" name="account_type" id="account_type">
                                        <option name="account_type" disabeled>¿Eres psicólogo?</option>
                                        <option name="account_type" value="0">Si</option>
                                        <option name="account_type" value="1">No</option>
                                    </select>
                                </div>
                                <div class="col-12">
                                    <button href="" class="btn btn-primary w-100 py-3" type="submit">Registrarse</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Appointment End -->


        <!-- Blog Start -->
        <div class="container-fluid py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Blog</h5>
                    <h1 class="display-4">Nuestros  más recientes artículos</h1>
                </div>
                <div class="row g-5">
                    {%for article in articles[:3]%}
                    <div class="col-xl-4 col-lg-6">
                        <div class="bg-light rounded overflow-hidden">
                            <img class="img-fluid w-100" src="{{ url_for('static', filename=article.file_path)}}" alt="foto_articulo" style="height:15rem;">
                            <div class="p-4" style="height: 12rem;">
                                <a class="h3 d-block mb-3" href="/article/{{article.id}}">{{article.title}}</a>
                                <p class="m-0">{{article.subtitle[:60]}}...</p>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
        <!-- Blog End -->

{% endblock %}


{%block javascript%}
<script>
    console.log(document.getElementById('scroll-button'))
    $("#scroll-button").click(function() {
        $('html, body').animate({
            scrollTop: $("#section-to-scroll-to").offset().top
        }, 300);
    });
</script>
{%endblock%}