{% extends 'base.html' %}
{% block home %} active {% endblock %}

{% block styles %}
<style>
</style>
{% endblock %}

{% block main %}


<!-- Mensajes -->
<div class="container py-5">
    <div class="row col-sm-8">
        <!-- mensajes recibidos -->
        <div class="bg-light rounded p-5">
            <div class="mb-5">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 mb-4">Mensajes Recibidos</h4>
                {%for message in recieved_messages%}
                <div class="d-flex mb-4 bg-white p-4 rounded">
                    <div class="ps-3 mb-4">
                        <h4>{{message.sender.name}}</h4>
                        <p>{{message.created_at}}</p>
                        <p class="text-dark">{{message.text}}</p>
                        <a href="/message-update" class="btn btn-sm btn-dark rounded-pill">Me pondre en contacto contigo</a>
                        <a href="/message-seen/{{message.id}}" class="btn btn-sm btn-primary rounded-pill">Marcar como visto</a>
                    </div>
                </div>
                {%endfor%}
                <!-- Termina plantilla para mensajes recibidos del psicólogo -->
            </div>
        </div>
        <!-- mensajes recibidos -->
    </div>
</div>
<!-- Mensajes End -->

{% endblock %}