{% extends 'base.html' %}
{% block home %} active {% endblock %}

{% block styles %}
<style>
</style>
{% endblock %}

{% block main %}

<!-- Blog Start -->
<div class="container py-5">
    <div class="row g-5">
        <div class="col-lg-8">
            <div class="d-flex justify-content-between p-4 mt-4 mb-4">
            </div>
            <!-- Blog Detail Start -->
            <div class="mb-4">
                
                <h1 class="mb-2">Título de la publicación</h1>
                <div class="d-flex align-items-center mb-3">
                    <img class="rounded-circle me-2" src="{{ url_for('static', filename='img/therapist/user1.jpg')}}" width="40" height="40" alt="">
                    <span><b>Escrito por XXX xxx</b></span>
                </div>
                <div class=" mb-3"><i>Fecha</i></div>
                
                <p>Sadipscing labore amet rebum est et justo gubergren. Et eirmod ipsum sit diam ut
                    magna lorem. Nonumy vero labore lorem sanctus rebum et lorem magna kasd, stet
                    amet magna accusam consetetur eirmod. Kasd accusam sit ipsum sadipscing et at at
                    sanctus et. Ipsum sit gubergren dolores et, consetetur justo invidunt at et
                    aliquyam ut et vero clita. Diam sea sea no sed dolores diam nonumy, gubergren
                    sit stet no diam kasd vero.
                </p>
                <div class="d-flex justify-content-between bg-light rounded p-4 mt-4 mb-4">
                    <div class="d-flex align-items-center">
                        <div class=" mb-3"><i><b> ¿Quieres saber más sobre la publicación completa? </b></i></div>
                    </div>
                    <div class="d-flex align-items-center">
                        <a href="">Paper de la publicación</a>
                    </div>
                    <div class="d-flex align-items-center">
                        <a href="">Link de publicación</a>
                    </div>
                <div style="text-align: center;" >
                    
            </div>
            <!-- Blog Detail End -->

{% endblock %}
