{% extends 'base2.html' %}
{% block home %} active {% endblock %}

{% block styles %}
<style>
</style>
{% endblock %}

{% block main %}

<!-- Blog Start -->
<div class="container py-5" style="height:100vh;">
    <div class="container bg-light p-5" style="height: 100vh;">
        <div class="container bg-white p-5" >
            <h2 class="h2">{{publication.title}}</h2>
            <h5 class="h5">{{publication.description}}</h5>
            <h5 class="h5">{{publication.publisher}}</h5>
            <p>Publicado el: {{publication.date}}</p>
        </div>
        <embed src="{{ url_for('static', filename=publication.file_path)}}" width="100%" height="100%" /> 
    </div>
    <h2></h2>

{% endblock %}
