{% extends 'base.html' %}
{% block home %} active {% endblock %}

{% block styles %}
<link type="text/css" href="{{ url_for('static', filename='css/dropdown_ms.css')}}" rel="stylesheet">
{% endblock %}


{% block main %}
<div class="navbar-nav ms-auto py-0">
    <a href="index.html" class="nav-item nav-link active">Home</a>
    <a href="about.html" class="nav-item nav-link">Acerca</a>
    <a href="blog.html" class="nav-item nav-link">Blog</a>
    <a href="ini_sesion.html" class="nav-item nav-link">Iniciar sesión</a>
    <a href="contact.html" class="nav-item nav-link">Contáctanos</a>
</div>
</div>
</nav>
</div>
</div>
<!-- Navbar End -->


<!-- Appointment Start -->
<div class="container-fluid py-5">
    <div class="container">
        <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Perfil</h5>
        <h1 class="display-4">Termina de completar tu perfil</h1>
        <div class="row gx-5">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="mb-4">
                </div>
                <div class="col-lg-12">
                    <div class="bg-light text-center rounded p-5">
                        <form action="/therapist-reg" method="POST">
                            <div class="row g-3">

                                <!-- <div class="col-12 col-sm-6">
                                    <input type="text" name="therapist_pic" class="form-control bg-white border-0" placeholder="Sube una foto" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="email" class="form-control bg-white border-0" placeholder="Adjuntar" style="height: 55px;"> -->
                            </div>

                            <div class="col-12 col-sm-12">
                                <input type="text" name="linkedin" id="linkedin" class="form-control bg-white border-0"
                                    placeholder="Linkedin" style="height: 55px;" required>
                            </div>
                            <div class="col-12 col-sm-12">
                                <input type="text" name="cdr" id="cdr" class="form-control bg-white border-0"
                                    placeholder="CDR o Número de licencia" style="height: 55px;" required>
                            </div>
                            <div class="col-12 col-sm-12">
                                <input type="number" name="age" id="age" class="form-control bg-white border-0"
                                    placeholder="Edad" style="height: 55px;" required>
                            </div>
                            <div class="col-12 col-sm-12">
                                <select name="gender" id="gender" class="form-control bg-white border-0"
                                    placeholder="Género" style="height: 55px;" required>
                                    <option name="gender" id="" value="" disabled selected>Seleccina tu género</option>
                                    <option name="gender" id="" value="female">Muje</option>
                                    <option name="gender" id="" value="male">Hombre</option>
                                    <option name="gender" id="" value="non_binary">No binario</option>
                                    <option name="gender" id="" value="genderfluid">Genderfluid</option>
                                    <option name="gender" id="" value="trans_female">Mujer Transgénero</option>
                                    <option name="gender" id="" value="trans_male">Hombre Transgénero</option>
                                    <option name="gender" id="" value="agender">Agender</option>
                                    <option name="gender" id="" value="other">Otro</option>
                                </select>
                            </div>
                            <div class="row g-3">
                                <label for="">¿Dónde estás ubicado?</label>
                                <div class="col-12 col-sm-6">
                                    <select class="form-select bg-white border-0" style="height: 55px;" required>
                                        <option selected>Ciudad</option>
                                        <option value="1">Arequipa</option>
                                        <option value="2">Bogotá</option>
                                        <option value="3">Lima</option>
                                        <option value="4">Medellín</option>
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <!--  Este debe activarse de acuerdo con la opción anterior -->
                                    <select class="form-select bg-white border-0" style="height: 55px;" required>
                                        <option selected>Distrito/Barrio</option>
                                        <option value="1">El Poblado</option>
                                        <option value="2">Belén</option>
                                        <option value="3">Laureles 3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12">
                                <select name="modalidad" id="gender" class="form-control bg-white border-0"
                                    placeholder="Modalidad de consulta" style="height: 55px;" required>
                                    <option name="gender" id="" value="" disabled selected>Seleccina la modalidad de tu
                                        consulta</option>
                                    <option name="modalidad" id="" value="office">In person/Office</option>
                                    <option name="modalidad" id="" value="office">Remote/Virtual</option>
                                    <option name="modalidad" id="" value="office">Hybrid (both)</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-12">
                                <select name="modalidad" id="gender" class="form-control bg-white border-0"
                                    placeholder="Modalidad de consulta" style="height: 55px;" required>
                                    <option name="gender" id="" value="" disabled selected>Seleccina la modalidad de tu
                                        consulta</option>
                                    <option name="modalidad" id="" value="office">In person/Office</option>
                                    <option name="modalidad" id="" value="remote">Remote/Virtual</option>
                                    <option name="modalidad" id="" value="hybrid">Hybrid (both)</option> 
                                </select>
                            </div>
                            <div class="col-12 col-sm-12">
                                <textarea name="description" class="form-control bg-white border-0" cols="30" rows="5"
                                    style="height: 55px;" placeholder="Descripción" required></textarea>
                            </div>
                            <div class="col-12 col-sm-12">
                                <input type="text" name="metodo" class="form-control bg-white border-0"
                                    placeholder="Agrega tu especialidad" style="height: 55px;" required>
                            </div>
                            <div class="col-12 mb-3">
                                <label for="category" class="form-label">What subjects do you specialize in (choose five as a maximum):</label>
                                <div class="dropdown" id="my-select">
                                        <button class="dropbtn">Select Options</button>
                                        <div class="dropdown-content">
                                        {% for category in all_categories %}
                                            <label class="cat-label">
                                            <input type="checkbox" value="{{category.id}}" class="category" id="{{category.id}}"> <p class="cat-name" id="cat-name{{category.id}}" >{{category.name}}</p>
                                            </label>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                                <button class="btn btn-primary w-100 py-3" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                    
                    <!-- ADJUNTAR FOTO 
                    <div class="bg-light text-center rounded p-5">
                        <form action="/edit_therapist/changeimg" method="post" enctype="multipart/form-data">
                            Prueba para adjuntar la foto del terapeuta <Con el enctype, le digo que no solo voy a tener archivos de texto, sino documentos>
                            <div class="row g-3">
                                <div class="col-12 col-sm-6">
                                    <input type="file" name="file" class="form-control bg-white border-0"
                                        placeholder="Sube una imagen" style="height: 55px;" required>
                                    <input type="submit" value="Upload">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div> -->
            <!-- <p class="mb-5">Eirmod sed tempor lorem ut dolores. Aliquyam sit sadipscing kasd ipsum. Dolor ea et dolore et at sea ea at dolor, justo ipsum duo rebum sea invidunt voluptua. Eos vero eos vero ea et dolore eirmod et. Dolores diam duo invidunt lorem. Elitr ut dolores magna sit. Sea dolore sanctus sed et. Takimata takimata sanctus sed.</p>
                    <a class="btn btn-primary rounded-pill py-3 px-5 me-3" href="">Guardar</a>
                    <a class="btn btn-outline-primary rounded-pill py-3 px-5" href="">tal vez después</a> -->
        </div>
        <div class="col-lg-6  mb-5 mb-lg-0 mt-4">
            <!-- <div class="bg-light text-center rounded p-5">
                <h1 class="mb-4">Hola, (nombre)</h1>
                <div class="col-12 col-sm-6">
                    <img src="" alt="">
                </div>
                <div>
                    Especialista en (método)
                </div>
                <div>
                    Descripición
                </div>
                <div>
                    Educación
                </div>
            </div>
            <br> -->
            <div class="col-lg-12">
                <div class="bg-light text-center rounded p-5">
                    <form>
                        <h1 class="display-6">Educación</h1>
                        <div class="row g-3">

                            <div class="col-12 col-sm-12">
                                <input type="text" name="therapist_pic" class="form-control bg-white border-0"
                                    placeholder="Institución" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-12">
                                <input type="text" class="form-control bg-white border-0" placeholder="Título"
                                    style="height: 55px;">
                            </div>
                            <div class="col-6">
                                <button class="btn btn-primary w-100 py-3" type="submit">Guardar</button>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-outline-primary rounded-pill py-3 px-5" type="submit">Agregar
                                    estudio</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Appointment End -->


{% endblock %}

{%block javascript%}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/my_select.js') }}"></script>

<script>
    var checkboxes = document.querySelectorAll(".dropdown-content input[type=checkbox]");
    var all_spans = document.querySelectorAll('.cat-name')

    for (var i = 0; i < checkboxes.length; i++) {
    checkboxes[i].addEventListener("change", checkSelection);
    }
    function checkSelection() {
    var selectedOptions = document.querySelectorAll(".dropdown-content input[type=checkbox]:checked");
    if (selectedOptions.length >= 5) {
        // alert("You can only select a maximum of 5 options");
        var otherCheckboxes = document.querySelectorAll(".dropdown-content input[type=checkbox]:not(:checked)");
        for (var i = 0; i < otherCheckboxes.length; i++) {
            otherCheckboxes[i].disabled = true;
            //all_spans[i+1].style.color= 'red'
        }
        } else {
        var allCheckboxes = document.querySelectorAll(".dropdown-content input[type=checkbox]");
        for (var i = 0; i < allCheckboxes.length; i++) {
            allCheckboxes[i].disabled = false;
            //all_spans.style.color= 'black';
        }
        }
    }
</script>


<script>
    $(function() {
        $('#ms').change(function() {
            console.log($(this).val());
        }).multipleSelect({
            width: '100%'
        });
    });
</script>
<script>
    // Initialize multiple select on your regular select
    $("#my-select").multipleSelect({
        filter: true
    });
</script>
{%endblock%}