{% extends 'base.html' %}
{% block home %} active {% endblock %}

{% block styles %}
<style>
</style>
{% endblock %}


{% block main %}
                <div class="navbar-nav ms-auto py-0">
                    <a href="index.html" class="nav-item nav-link active">Home</a>
                    <a href="about.html" class="nav-item nav-link">Acerca</a>
                    <a href="blog.html" class="nav-item nav-link">Blog</a>
                    <a href="ini_sesion.html" class="nav-item nav-link">Iniciar sesión</a>
                    <a href="contact.html" class="nav-item nav-link">Contáctanos</a>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->



    <!-- Contact (Register) Start -->
    <div class="container-fluid px-5 pt-5">
        <div class="container bg-light p-5">
            <div class="article-info px-5">
                <a href="/tprofile/{{article.creator.id}}" class="text-primary  h4"> {{article.creator.name}}</p></a>
                <p class="date text-primary">Lunes 29 de Abril 2022</p>
            </div>
            <hr>
            <div class="px-5 pt-5 title h2">{{article.title}}</div>
            <div class="px-5 subtitle h3 school_name">{{article.subtitle}}</div>
            <div class="img-container" style="margin: auto; width: 50%;">
                <img class="img-fluid" src="{{ url_for('static', filename=article.file_path)}}" style="width: 500px; height: 100%; object-fit: cover;" alt="">            
            </div>
            <div class="p-5 body text-dark">{{article.body | safe}}</div>
        </div>
    </div>
    <!-- Contact (Register) End -->

    

{% endblock %}